body{
    width: 100%;
    height: 100%;
    margin: 0;
}
.menu-principal{
position: relative;
width: 100%;
height: 100px;
background-color: #865439;
margin-top: 0 auto;
}
.botao{
    text-align: center;
    position: relative;
}
.carrossel{
    overflow: hidden;
    width: 100%;
    height: 500px;
    float: left;
}
.container{
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translate(0);
    width: 100%;
    height: 500px;
    float: left;
}
.col-200{
    width: 100%;
    background-color:#865439;
    height: 600px;
    float: left;
}
.col-4{
    width: 40%;
    margin-top: 3em;
    color: white;
    float: left;
    text-align: center;
    padding-left: 250px;
}

.col-4 img {
    border-radius: 5%;
    width: 400px;
    height: 400px;
}
.col-4 a{
    margin-top: 5px;
    float: left;
    text-align: center;
    width: 400px;
    background-position: center;
}
.formulario{
    width: 100%;
    float: left;
    padding-left: 360px;
}
.form{
    width: 50%;
    text-align: center;
}
.button{
    width: 50%;
    float: left;
    padding-left: 360px;
}
.button button{
    width: 495px;
}